/*******************************************************************************
 * Reset & base theme
 ******************************************************************************/

@import '@picocss/pico/css/pico.grey.min.css';

/*******************************************************************************
 * Layout
 ******************************************************************************/

body > header {
  border-bottom: 1px solid #ddd;
}

body > header, header {
  padding-bottom: 0;
}

body > main, main {
  padding-top: 0;
}

aside {
  font-size: smaller;
  padding-top: 15px;
  padding-bottom: 23px;
}

aside nav summary {
  font-weight: bold;
}

aside nav ul {
  padding-left: 1.5em;
}

aside nav ul li {
  padding: 0;
}

aside nav ul li a {
  padding-top: 1em;
  padding-bottom: 0;
}

article {
  background: inherit;
  box-shadow: none;
}

section {
  border-bottom: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

.x3d-wrapper {
  margin-top: 1rem;
}

.x3d-wrapper x3d {
  width: 100%;
  max-width: 100%;
}

.x3dom-states-item {
  color: #ccc;
}

.x3dom-states-item::marker {
  content: none;
}

/* Narrow width only */
@media (max-width: 768px) {
  main.grid {
    row-gap: 0;
  }

  main > article {
    padding: 15px 0;
  }
  section.grid > :not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
  }

  aside {
    border-bottom: 1px solid #ddd;
  }
}

/* Wide widths only */
@media (min-width: 769px) {
  main.grid {
    grid-template-columns: max-content 1fr;
    column-gap: 4em;
  }

  main > aside {
    grid-column: 1 / 2;
    padding-top: 30px;
  }

  main > article {
    grid-column: 2 / -1;
    border-left: 1px solid #ddd;
    padding: 30px;
  }

  section.grid > :not(:last-child) {
    padding-bottom: 1em;
  }

  section.grid > :not(:last-child) {
    border-right: 1px solid #ddd;
  }
}

/*******************************************************************************
 * MathJax
 ******************************************************************************/

/* Hide assistive MathML that can render visibly in some browsers (e.g. Safari). */
mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}
