
/*******************************************************************************
 * Reset & base theme
 ******************************************************************************/

@import '@picocss/pico/css/pico.sand.css';

:root {
  --pico-font-family-sans-serif: 'Arial', sans-serif;
  --pico-border-radius: 0;
}

/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-primary-background: #ccc;
  --pico-primary-border: #ccc;
  --pico-primary-hover-color: var(--pico-primary-inverse);
  --pico-primary-hover-background: transparent;
  --pico-primary-hover-border: var(--pico-primary-hover-color);
  --pico-button-hover-box-shadow: var(--pico-primary-hover-background);
}

input:not([type=checkbox],[type=radio],[type=range]) {
  height: auto;
}

/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  padding: 20px;
}

body>main, main {
  border-bottom: 1px solid #ddd;
  padding-top: 0;
}

body>header, header {
  padding-bottom: 0;
}

section {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin: 0;
}

/*******************************************************************************
 * General
 ******************************************************************************/

output {
  font-size: xx-large;
  font-weight: bold;
  font-family: monospace;
  padding: 1em;
}

li > span:hover {
  opacity: 0.8;
}

form > * {
  display: inline-block;
}

li > button {
  padding: 2px 8px 1px;
  margin-left: 10px;
}

/*******************************************************************************
 * Apps
 ******************************************************************************/

.todos form {
  max-width: 600px;
}

.todos form input {
  width: 75%;
}

.todos form button {
  width: 25%;
}

.todos li {
  cursor: pointer;
}

