/*******************************************************************************
 * Reset & base theme
 ******************************************************************************/

@import '@picocss/pico/css/pico.grey.min.css';

/*******************************************************************************
 * Global styles
 ******************************************************************************/

body > header {
  border-bottom: 1px solid #ddd;
}

body > header, header {
  padding-bottom: 0;
}

body > main, main {
  padding-top: 0;
}

article, aside {
  padding: 1.5rem 0;
  margin: 0;
}

section {
  margin: 0;
}

aside {
  font-size: smaller;
}

aside nav summary {
  font-weight: bold;
}

aside nav ul {
  padding: 0.5em 1.5em 0;
}

aside nav ul li {
  padding: 0;
}

article {
  background: inherit;
  box-shadow: none;
}

x3d {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 8px -4px #000000;
  width: 100%;
  max-width: 100%;
}

.x3dom-states-item {
  color: #ccc;
}

.x3dom-states-item::marker {
  content: none;
}

.vis3d-controls {
  font-size: smaller;
}

.vis3d-controls input[type="range"] {
  width: 100%;
}

.vis3d-controls button {
  font-size: smaller;
  font-weight: bold;
  width: 100%;
  padding: 0.5rem;
}

/* Narrow width only */
@media (max-width: 768px) {
  main.grid {
    row-gap: 0;
  }

  section.grid > :not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
  }

  aside {
    border-bottom: 1px solid #ddd;
  }
}

/* Wide widths only */
@media (min-width: 769px) {
  main.grid {
    grid-template-columns: max-content 1fr;
    gap: 2em;
  }

  main > aside {
    grid-column: 1 / 2;
    border-right: 1px solid #ddd;
    padding-right: 1.5em;
  }

  main > article {
    grid-column: 2 / -1;
  }

  section.grid {
    grid-template-columns: 1fr 25%;
    gap: 2em;
  }

  .vis3d-controls {
    padding-top: 0.5em;
    padding-left: 1em;
  }
}

/*******************************************************************************
 * MathJax
 ******************************************************************************/

/* Hide assistive MathML that can render visibly in some browsers (e.g. Safari). */
mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display="block"] {
  width: 100% !important;
}
